.profile-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    margin: 0px 20px;
}
.profile-container h1{
    margin-top: 70px;
}
.profile-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 36px 0px 0px;
    height: 100%;
}
.edit-profile{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 40px;
}
.edit-name-profile{
    display: flex;
    flex-direction: column;
}
.edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.edit p{
    font-weight: 600;
    font-size: 26px;
}
.edit-update{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.edit-update p{
    font-size: 20px;
    font-weight: 200;
}
.edit-update-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 0.5;
}
.edit-update-mail p{
    font-weight: 200;
    font-size: 20px;
}
.edit-name-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-name-input input {
    background: grey;
    padding: 8px;
    border: none;
    font-family: 'manrope';
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    border-radius: 4px;
    outline: none;
}
.change-password{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.change-password-button button{
    position: relative;
    border: none;
    background: none;
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
}
.change-password-button button::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.5px;
  background-color: #fff;
  transition: width 0.3s ease, left 0.3s ease;
}
.change-password-button button:hover::after{
  width: 100%;
  left: 0;
}
.old-password, .new-password, .password-confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.password-txt p{
    font-weight: 600;
    font-size: 26px;
}
.password-change{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.password-change span{
    cursor: pointer;
}
.password-change input{
    font-family: 'Manrope';
    outline: none;
    border: none;
    background: none;
    height: 30px;
    font-size: 18px;
    color: #fff;
}
.password-change input::placeholder{
    font-family: 'Manrope';
 color: #aeaeae;
}
.right-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.change-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.profile-pic{
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    height: 280px;
    width: 280px;
}
.upload-pic button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.upload-pic button{
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    overflow: hidden;
    font-size: 18px;
}
.upload-pic button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
}
.upload-pic button:hover::after{
    width: 100%;
    left: 0;
}
.disconnect-save{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin: 0px 15px 15px 0px;
}
.disconnect-save button{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 35px;
    gap: 10px;
}
.disconnect button{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}
.disconnect button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #CF0000;
    transition: width 0.3s ease, left 0.3s ease;
}
.disconnect button:hover::after{
    width: 100%;
    left: 0;
}
.disconnect button p{
    color: #CF0000;
}
.white-divider{
    height: 30px;
    border-left: 1px solid #fff;
}
.save-button{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}
.save-button button.active {
    cursor: pointer;
}

.save-button button.inactive {
    opacity: 0.3;
    cursor: not-allowed;
}
.save-button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
}
.save-button:hover::after{
    width: 100%;
    left: 0; 
}