/* Nav */
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 97%;
  height: 60px;
  background-color: transparent;
  z-index: 2;
}
nav a {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 2px 0;
  background-color: transparent;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
li {
  list-style: none;
  background-color: transparent;
}
.logo{
  background-color: transparent;
}
.logo a {
  font-size: 25px;
  font-weight: 300;
  background-color: transparent;
}
.line-nav {
  border-left: 0.2px solid #fff;
  opacity: 0.4;
}
nav ul li a:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 0;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
nav ul li a:hover:after,
nav ul li a.active:after {
  width: 100%;
  left: 0;
}
nav ul li a.active:after {
  width: 100%;
  left: 0;
}

/* Not Found */
.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found h1{
  margin-bottom: 30px;
}
.not-found p{
  margin-top: 10px;
}
.not-found a{
  margin-left: 2px;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-underline-offset: 3px;
  transition: 0.3s;
}
.not-found a:hover{
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-underline-offset: 3px;
  transition: 0.3s;
}